* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.carousel-inner {
    max-height: 44rem;
}

/*=======[==[Container - Start]==]=======*/
.container {
    text-align: justify;
}

.container .btn:hover {
    background-color: black;
    color: red;
}

.carousel-inner img {
    height: 100vh;
    width: auto;
    object-fit: cover;
}

/*=======[==[Container - End]==]=======*/


/*=======[==[Featured - Start]==]=======*/
.Games {
    margin: auto;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}
.Games img:hover {
    transform: scale(1.05);
    transition: all 500ms;
}
.Platforms {
    margin: auto;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}
.Platforms a {
    display: inline-block;
    text-decoration: none;
    font-size: 26px;
    color: rgb(0, 0, 0);
    text-align: center;
    transition: all 300ms ease;
}
.Platforms a:hover {
    color: #9b0e0e;
}
/*=======[==[Featured - End]==]=======*/


/*=======[==[Footer - Start]==]=======*/
footer{
    width: 100%;
    background-color: #9b0e0e;
}

footer .Icons a {
    display: inline-block;
    text-decoration: none;
    font-size: 26px;
    padding: 0 8px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    text-align: center;
    transition: all 300ms ease;
}
footer .Icons a:hover {
    color: #9b0e0e;
}
footer {
    background-color: #000000;
    padding: 10px;
    text-align: center;
    color: #fff;
}
footer small {
    font-size: 17px;
}
/*=======[==[Footer - End]==]=======*/

/*=======[==[Media - Start]==]=======*/
@media screen and (max-width:1024px) {
    .Games {
        margin: auto;
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}
/*=======[==[Media - End]==]=======*/